@font-face {
    font-family: 'Jetbrains';
    src: url('assets/fonts/jetbrains.ttf');
}

#background {
    background: linear-gradient(to bottom, rgb(10, 0, 20), rgb(25, 0, 25));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

body {
    color: white;
    font-family: 'Jetbrains';
    font-size: 20px;
    margin: 3em 1em;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h1,
h2,
h3 {
    text-align: center;
    background: linear-gradient(to bottom, rgb(34, 17, 87), rgb(36, 15, 62));
    outline: 0.075em solid;
    border-radius: 10em;
    padding: 0.4em;
}

img {
    max-width: 5em;
    margin: auto;
    display: block;
    border-radius: 0.5em;
}

header a {
    font-size: 15px;
}

header img {
    margin: 0;
    display: inline;
    height: 1em;
}

header {
    background: linear-gradient(to bottom, rgb(100, 0, 120), rgb(80, 0, 100));
    position: fixed;
    display: inline-flex;
    justify-content: center;
    gap: 3em;
    top: 0;
    left: 0;
    padding: 0.25em 0;
    width: 100%;
}

#aleTitle {
    max-width: 30em;
}